<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.verpflichtemicht">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:required="false" />
    <uses-permission android:name="android.permission.BLUETOOTH " />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VerpflichteMicht"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AlarmFenster"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:showOnLockScreen="true"

            android:label="@string/title_activity_alarm_fenster"
            android:theme="@style/Theme.VerpflichteMicht.Fullscreen" />

        <service
            android:name=".service.Tokenvalid"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".LoginNeu"
            android:exported="false" />
        <activity
            android:name=".kk"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity_new"
            android:exported="false"
            android:label="@string/title_activity_login_new" />
        <activity
            android:name=".okay"
            android:exported="false" />
        <activity
            android:name=".testAktivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".reciver.AlarmKommtReceiver"
            android:enabled="true"
            android:exported="true"
            android:showOnLockScreen="true"

            ></receiver>
        <receiver
            android:name=".reciver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>